/* 
#la-ny {
  width: 200px;
  height: 200px;
} */

body {
  /* background-image: url('./images/pikes-peak-arash.jpg'); */
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

#contact-me {
  width: 50%;
  height: 50%;
}