/* 
#la-ny {
  width: 200px;
  height: 200px;
} */

body {
  background-image: url('./images/background1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

#contact-me {
 padding-left: 18%;
 
}

#origin .row {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#origin .col-sm-3 {
  font-weight: bolder;
}

