body {
  background-image: url('./images/tina-dawson-Kim9COAIEGc-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;

  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.jumbotron {
  background-image: url('./images/pikes-peak-arash.jpg');
  height:300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom:1px solid black
}

.contactPage .jumbotron {
  background-image: url('./images/race-walk_cropped2.jpg');
  height:300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom:1px solid black
}

.portfolioPage .jumbotron {
  background-image: url('./images/hire_me.jpeg');
  height:300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom:1px solid black
}

.jumbotron h1, p {
  color:red;
  font-weight: bolder;
}

.lead,
.contactPage p {
color:red;
}


#origin dt, dd {
  color:chartreuse;
  font-weight: bolder;
}

.jumbotron .container {
  position:relative;
  top:50px;
}

#origin p {
  font-weight: bolder;
  color: ghostwhite;
  margin-top: 50px;
}

.card-text {
  color: black;
}

.contactInfo, .myImages, .portfolioCards {
  margin-top: 50px;
}

#card2 {
  margin-left: 60px;
  float:right;
  /* position: relative; */
}

/* .resumeBtn {
  margin-left: 100px;
  
} */


/* it seems to already be shrinking to the right proportions when I check it on my phone */
/* Not sure on what to add to make this completely mobile friendly */
/* feel like bootstrap did most of it with this basic site */
@media screen and (max-width: 480px){

body{
  max-width: fit-content;
}
}